---
layout: default
title: Home
desc:
cover: background-home.jpg
alt_cover: 
subtitle: Warsaw Based UX/UI Designer
typeds:
- beautiful
- thoughtful
- user-centered
---

<div class="cover cover-fixed">
     <picture class="cover-bg">
          <source media="(max-width: 600px)" srcset="/assets/images/s-{{ page.cover }}" />
          <source media="(max-width: 1024px)" srcset="/assets/images/m-{{ page.cover }}">
          <img src="/assets/images/l-{{ page.cover }}" alt="{{ page.alt_cover }}">
     </picture>
     
     <div class="cover-content">
          <h2 class="subtitle">{{ page.subtitle }} <span></span></h2>

          <div class="type-wrap">
               <div id="typed-strings">
                    {% for typed in page.typeds %}
                    <span>{{ typed }}</span>
                    {% endfor %}
               </div>

               <h1>
                    I’m Julia and I design <br class="break" /><span id="typed" style="white-space:pre;"></span><br>interfaces for great human experience.
               </h1>
          </div>
          <a href="/#portfolio" class="btn-primary">See my portfolio</a>

          {% include social.html %}
     </div>
</div>

<div class="wrapper">
     <div class="container" id="portfolio">
          <ul class="portfolio">
               {% assign projects = site.projects | sort: "order" %}
               {% for project in projects %}
               {% if project.link_exter == true %}
               <li class="fade">
                    <div class="cover-project" style="background: url(/assets/images/{{project.home_cover}})"><a
                              href="{{ project.link }}" target="_blank"></a></div>
                    <div class="content">
                         <h4>{{ project.type }}<span></span></h4>
                         <div class="desc-project">
                              <h3>{{ project.title }}</h3>
                              <p>{{ project.desc_short }}</p>
                         </div>
                         <a href="{{ project.link }}" target="_blank" class="btn-arrow">View project on Medium</a>
                    </div>
               </li>
               {% else %}
               <li class="fade">
                    <div class="cover-project" style="background: url(/assets/images/{{project.home_cover}})"><a
                              href="{{ project.url }}"></a></div>
                    <div class="content">
                         <h4>{{ project.type }}<span></span></h4>
                         <div class="desc-project">
                              <h3>{{ project.title }}</h3>
                              <p>{{ project.desc_short }}</p>
                         </div>
                         <a href="{{ project.url }}" class="btn-arrow">View project</a>
                    </div>
               </li>
               {% endif %}

               {% endfor %}
          </ul>

          {% include footer.html %}
     </div>
</div>