---
title: Home
desc:
title1: I’m Julia and I design
title2: interfaces for great human experience.
subtitle: Warsaw Based UX/UI Designer
cover: background-home.jpg
typeds:
- beautiful
- thoughtful
- user-centered
---

<div class="cover cover-home">
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/s-{{ page.cover }}">
        <source media="(max-width: 1024px)" srcset="/assets/images/m-{{ page.cover }}">
        <img src="/assets/images/l-{{ page.cover }}" alt="Cover Julia Popko">
    </picture>

    <div class="content">
        <h2 class="subtitle">{{ page.subtitle }}</h2>

        <div class="type-wrap">
            <div id="typed-strings">
                {% for typed in page.typeds %}
                <span>{{ typed }}</span>
                {% endfor %}
            </div>

            <h1>
                {{ page.title1 }}
                <br class="break" />
                <span id="typed" style="white-space:pre;"></span>
                <br>
                {{ page.title2 }}
            </h1>
            <div class="center">
                <a href="#portfolio" class="btn-primary">See my portfolio</a>
            </div>
        </div>
    </div>

    {% include social.html %}
</div>

<div class="wrap">
    <div class="container" id="portfolio">
        {% assign projects = site.projects | sort: "order" %}
        {% for project in projects %}
        <div class="project-card">
            <div class="col">
                <a href="{% if project.link %}{{ project.link }}{% else %}{{ project.url }}{% endif %}"
                    {% if project.link %}target="_blank" {% endif %}>
                    {% if project.link %}
                    <img src="/assets/images/{{ project.home_cover }}" alt="Cover {{ project.title }}">
                    {% else %}
                    <img src="/assets/images/m-{{ project.home_cover }}" alt="Cover {{ project.title }}">
                    {% endif %}
                </a>

                <div class="right">
                    {% if project.link %}
                    <a href="{{ project.link }}" target="_blank" class="btn-arrow">View project on
                        {{ project.website }}</a>
                    {% else %}
                    <a href="{{ project.url }}" class="btn-arrow">View project</a>
                    {% endif %}
                </div>
            </div>

            <div class="col col-content">
                <h4>{{ project.type }}</h4>

                <div class="desc-project">
                    <h3>{{ project.title }}</h3>
                    <p>{{ project.desc_short }}</p>
                </div>

                <div class="right">
                    {% if project.link %}
                    <a href="{{ project.link }}" target="_blank" class="btn-arrow">View project on
                        {{ project.website }}</a>
                    {% else %}
                    <a href="{{ project.url }}" class="btn-arrow">View project</a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
