<header>
    <a href="/" class="logo">{{ site.title }}.</a>

    <div class="burger" onclick="openMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <nav onclick="openMenu()">
        <ul class="menu">
            {% for item in site.data.nav %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
            <li><a href="mailto:{{ site.email }}">Contact</a></li>

            <span class="border top-left"></span>
            <span class="border top-right"></span>
            <span class="border bottom-left"></span>
            <span class="border bottom-right"></span>
        </ul>

        {% include social.html %}
    </nav>
</header>