<header {% if page.layout == "projects" %}id="nav"{% endif %}>
     <a href="/" class="link-site">{{ site.title }}.</a>

     <div class="burger" onclick="openNav(this)">
          <span></span>
          <span></span>
          <span></span>
     </div>

     <nav onclick="openNav(this)">
          <div class="nav-container">
               <ul class="menu">
                    {% for item in site.data.nav %}
                    <li><a href="{{ item.link }}">{{ item.title }}<span></span></a></li>
                    {% endfor %}

                    <span class="border top-left"></span>
                    <span class="border top-right"></span>
                    <span class="border bottom-left"></span>
                    <span class="border bottom-right"></span>
               </ul>

               {% include social.html %}
          </div>
     </nav>
</header>