<section class="projects-container bg-{{ include.background }}">
	<div class="container">
		<h3>{{ include.title }}</h3>
		<ul class="list-screens">
            {% for screen_desktop in page.screen_desktops %}
                <li><img src="/assets/images/{{ screen_desktop.image }}" alt="{{ screen_desktop.image_alt }}" /></li>
            {% endfor %}
		</ul>

		{% if include.proto == true %}
		<div class="link-proto">
			<p onclick="openModal(this)" class="open-proto">
				See the prototype
				<span></span>
			</p>

			<div class="modal" onclick="openModal(this)">
				<i class="fas fa-times"></i>
				<iframe src="{{ include.link_proto }}" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		{% endif %}
	</div>
</section>
