<section class="bg-{{include.background}}">
	<div class="container">
          <h3>{{include.title}}</h3>
          {% if include.border == true %}
          <div class="challenge-container">
			{{ include.content | markdownify }}
          </div>
          {% elsif include.2_col == true %}
          <div class="row">
			<div class="col-8-12">
				{{ include.content | markdownify }}
			</div>

			<div class="col-4-12 {% if include.mockup_mobile == true %}col-mobile{% endif %}">
				<img src="/assets/images/{{ include.img }}" alt="{{ include.alt_img }}" />
			</div>
          </div>
          {% elsif include.style == true %}
          <img src="/assets/images/{{ include.img }}" alt="{{ include.alt_img }}" />
          {% else %}
          {{ include.content | markdownify }}
          {% endif %}
	</div>
</section>