$icon-arrow: "\ea01";

@font-face {
    font-family: "arrow";
    src: url("/assets/webfonts/arrow.eot");
    src: url("/assets/webfonts/arrow.eot?xn9zk4#iefix") format("embedded-opentype"),
        url("/assets/webfonts/arrow.woff2?xn9zk4") format("woff2"),
        url("/assets/webfonts/arrow.woff?xn9zk4") format("woff"),
        url("/assets/webfonts/arrow.ttf?xn9zk4") format("truetype"),
        url("/assets/webfonts/arrow.svg?xn9zk4#arrow") format("svg");
    font-style: normal;
    font-weight: 400;
}

%icon {
    display: inline-block;
    font-family: "arrow" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    vertical-align: -0.125em;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon {
    @extend %icon;
}

.icon-arrow::before {
    content: "\ea01";
}

@mixin arrow() {
    font-family: "arrow";
    content: $icon-arrow;
}