/*=============================================== Colors ===============================================*/

$black: #000;
$gray: #555555;
$white: #fff;
$purple: #18172d;
$dark-blue: #3a405a;
$dark-gray: #1d2226;
$light-gray: #7F7F7F;

/*=============================================== Background colors ===============================================*/

.bg-black {
	background-color: $black;
	color: $white;

	.link-proto {
		color: $white;

		span {
			background: $white;
		}
	}
}

.bg-light-gray {
	background-color: $light-gray;
	color: $white;

	.link-proto {
		color: $white;

		span {
			background: $white;
		}
	}
}

.bg-gray {
	background-color: $gray;
	color: $white;

	.link-proto {
		color: $white;

		span {
			background: $white;
		}
	}
}

.bg-white {
	background-color: $white;
	color: $black;

	.link-proto {
		color: $black;

		span {
			background: $black;
		}
	}
}

.bg-purple {
	background-color: $purple;
	color: $white;

	.link-proto {
		color: $white;

		span {
			background: $white;
		}
	}
}

.bg-dark-blue {
	background-color: $dark-blue;
	color: $white;

	.link-proto {
		p {
			color: $white;

			span {
				background: $white;
			}
		}
	}
}

.bg-dark-gray {
	background-color: $dark-gray;
	color: $white;

	.link-proto {
		p {
			color: $white;

			span {
				background: $white;
			}
		}
	}
}