/*=============================================== Colors ===============================================*/

$primary: #6d6f71;
$secondary: #084C61;
$dark-gray: #333;
$gray: #BFC0C0;
$light-gray: #E1E2E2;
$white: #FFF;