/*=============================================== Colors ===============================================*/

$black: #000;
$white: #FFF;
$red: #C75146;
$gray: #435058;
$blue: #08415C;
$yellow: #ECA400;
$orange: #F79D5C;