/*=============================================== Fonts ===============================================*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,700&display=swap");

%montserrat {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

%montserrat-italic {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-style: italic;
}

%montserrat-medium {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

%montserrat-bold {
	font-family: "Montserrat", sans-serif;
	font-weight: 700;
}

$font-titles-big: 50px;
$font-titles: 24px;
$font-titles-small: 21px;
$font-body: 16px;
$font-list-projects: 48px;
$font-footer: 32px;
$font-intro: 18px;

/*=============================================== Text styles ===============================================*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
	@extend %paMar;
}

h1 {
	@extend %montserrat-medium;
	font-size: $font-titles-big;
	color: $black;
}

h2,
#typed-strings, #typed, .typed-cursor {
    @extend %montserrat;
    color: $gray;
    font-size: $font-titles;
}

h3 {
	@extend %montserrat-bold;
	font-size: $font-titles;
}

p {
	@extend %montserrat;
	font-size: $font-body;
}

.intro, .intro p {
    font-size: $font-titles;
}

.list-projects li a, .list-projects li a p {
	color: $white;
	text-decoration: none;
	@extend %montserrat-medium;
	font-size: $font-list-projects;
}

.cover-about p {
	@extend %montserrat;
	font-size: $font-titles;
}

.list-education .date, .list-experience .subtitle {
	@extend %montserrat;
	font-size: $font-body;
	color: $gray;
}

.list-education .title, .list-education .school, .list-skills, .list-languages, .list-experience .description {
	@extend %montserrat;
	font-size: $font-body;
}

.list-experience .title {
	@extend %montserrat-medium;
	font-size: $font-titles-small;		
}