/*=============================================== Imports ===============================================*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,700|Quicksand:400,500,600&display=swap');

/*=============================================== Mixins ===============================================*/

%titles {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

%titles-bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

%body {
	font-family: 'Quicksand', sans-serif;
	font-weight: 400;
}

%body-semi {
	font-family: 'Quicksand', sans-serif;
	font-weight: 500;
}

%body-bold {
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
}

$line: 1.8;

/*=============================================== Fonts ===============================================*/

h1 {
    $size: 50px;
    @extend %titles-bold;
    font-size: $size;
    line-height: $size*$line;
    
    .break {
        display: none;

        @media only screen and (max-width: 600px) {
            display: inherit;
        }
    }

    @media only screen and (max-width: 600px) {
        $size: 30px;
        font-size: $size;
        line-height: $size*$line;
    }
}

h2 {
    $size: 20px;
    @extend %body;
    font-size: $size;
    font-size: $size;
    line-height: $size*$line;

    &.subtitle {
        text-transform: uppercase;
        color: $gray;
    }
}

h3 {
    $size: 30px;
    @extend %titles;
    font-size: $size;
    font-size: $size;
    line-height: $size*$line;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	@extend %paMar;
}

nav ul {
    $size: 50px;
    @extend %titles-bold;
    font-size: $size;
    text-transform: uppercase;
    font-size: $size;
    line-height: $size*$line;

    @media only screen and (max-width: 600px) {
        font-size: 30px;
    }
}

p {
    $size: 16px;
    @extend %body;
    font-size: $size;
    line-height: $size*$line;
}

p a {
    @extend %body-bold;
    color: $black;
    text-decoration: none;
}

h4 {
    color: $gray;
    text-transform: uppercase;
    @extend %body-semi;
    @include flexbox(flex-start, flex-start, nowrap);
    flex-direction: column;
    font-size: 22px;

    &:after {
        content: "";
        width: 50px;
        height: 2px;
        float: left;
        background-color: $black;
        margin-top: 10px;
    }
}