/*========================================================== Home ==========================================================*/

.col-hello {
     background: $light-gray;
     padding: 5%;
     min-height: 70vh;
     @include flexbox(center, flex-start, nowrap);
     
     p {
          width: 100%;
     }
}

.col-bg {
     @extend %bgCenter;
     min-height: 70vh;
}

#projects-list {
     width: 100%;
     float: left;
     
     ul {
          position: relative;
          @extend %ulNone;
          
          li {
               width: 50%;
               float: left;
               height: 50vh;
               @extend %bgCenter;

               @media only screen and (max-width: 600px) {
                    width: 100%;
               }

               a {
                    width: 100%;
                    height: 100%;
                    background: rgba($color: $white, $alpha: 0.6);
                    @extend %flexCenter;
                    color: $dark-gray;
                    font-size: 25px;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: 700;
                    opacity: 0;
                    @include transition(all, .5s, ease);

                    &:hover {
                         opacity: 1;
                    }
               }
          }
     }
}