/*=============================================== Home ===============================================*/

.cover-home {
    padding: 50px 5vw;

    .content {
        @include flexbox(center, center, nowrap);
        @include flex-direction(column);

        .subtitle {
            position: relative;
            width: auto;
            margin-bottom: 50px;

            &:after {
                content: "";
                width: 100px;
                height: 2px;
                position: absolute;
                bottom: -2px;
                left: calc(50% - 25px);
                background-color: $gray;
            }
        }

        h1 {
            text-align: center;
            margin-bottom: 50px;
            line-height: inherit;

            #typed,
            .typed-cursor {
                color: $red;
            }
        }
    }

    .social {
        position: absolute;
        left: 5vw;
        top: 0;
        height: 100vh;
        @include flex-direction(column);
        font-size: 20px;
        line-height: normal;
        z-index: 10;

        li {
            &:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        @media(max-width: $breakpoint-tablet) {
            display: none;
        }
    }
}

#portfolio {
    @include grid(1fr, 0, 100px);

    .project-card {
        @include flexbox(stretch, flex-start, nowrap);
        min-height: 50vh;
        $padding: 25px;

        .col {
            width: 50%;

            &:first-child {
                padding-right: $padding;
            }

            &:last-child {
                padding-left: $padding;
            }

            img {
                width: 100%;
                height: 50vh;
                object-fit: contain;
                @include transition(all, 0.2s, ease);

                &:hover {
                    @include transform(scale(1.1));
                }
            }

            &.col-content {
                @include flexbox(flex-start, space-between, nowrap);
                @include flex-direction(column);

                .desc-project h3 {
                    margin-bottom: 30px;
                }
            }
        }

        &:nth-child(even) {
            @include flex-direction(row-reverse);

            .col {
                &:first-child {
                    padding-right: 0;
                    padding-left: $padding;
                }

                &:last-child {
                    padding-left: 0;
                    padding-right: $padding;
                }
            }
        }

        @media only screen and (max-width: $breakpoint-mobile) {
            @include flexbox(flex-start, flex-start, nowrap);
            @include flex-direction(column-reverse);

            .col {
                width: 100%;

                &:first-child, &:last-child {
                    padding-left: 0;
                    padding-right: 0;
                }

                &:last-child {
                    margin-bottom: 20px;
                }

                img {
                    height: auto;
                }

                &.col-content h4 {
                    margin-bottom: 30px;
                }
            }

            &:nth-child(even) {
                @include flex-direction(column-reverse);
            }
        }
    }
}
