/*========================================================== Home ==========================================================*/

#projects-list {
     width: 100%;
     float: left;
     
     ul {
          position: relative;
          z-index: 2;
     }
}