/*============================================================= Mixins =============================================================*/

@mixin flexbox($align, $justify, $wrap) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: $align;
    -ms-flex-align: $align;
    align-items: $align;

    -webkit-box-pack: $justify;
    -ms-flex-pack: $justify;
    justify-content: $justify;

    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin transition($property, $duration, $function) {
    -webkit-transition: $property $duration $function;
    -moz-transition: $property $duration $function;
    -ms-transition: $property $duration $function;
    -o-transition: $property $duration $function;
    transition: $property $duration $function;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($method) {
    -moz-transform: $method;
    -webkit-transform: $method;
    -o-transform: $method;
    -ms-transform: $method;
    transform: $method;
}

@mixin transform-origin($method) {
    -moz-transform-origin: $method;
    -webkit-transform-origin: $method;
    -o-transform-origin: $method;
    -ms-transform-origin: $method;
    transform-origin: $method;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    border-radius: $value;
}

@mixin box-sizing($property) {
    -moz-box-sizing: $property;
    -webkit-box-sizing: $property;
    box-sizing: $property;
}

@mixin icon($unicode) {
    font-family: "FontAwesome";
    content: $unicode;
}

/*============================================================= Animations =============================================================*/

/*====================================== Mixins ======================================*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($keyframe) {
    -webkit-animation: #{$keyframe};
    -moz-animation: #{$keyframe};
    -ms-animation: #{$keyframe};
    -o-animation: #{$keyframe};
    animation: #{$keyframe};
}

/*====================================== Opacity ======================================*/

@include keyframes(cover_home) {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*====================================== Picture about ======================================*/

@include keyframes(about) {
    0% {
        opacity: 0;
        @include transform(translateX(-10px));
    }

    100% {
        opacity: 1;
        @include transform(translateX(0));
    }
}

/*=============================================== Constants ===============================================*/

%paMar {
    padding: 0;
    margin: 0;
}

%ulNone {
    list-style: none;
    @extend %paMar;
}

%flexCenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

%bgCenter {
    background-position: center !important;
    background-size: cover !important;
}
