/*=============================================== Navigation ===============================================*/

header {
    width: 100%;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 5%;
    z-index: 9999;

    nav {
        width: 100%;
        float: left;
        @include flexbox(center, flex-end, nowrap);

        ul {
            @extend %ulNone;
            @include flexbox(center, flex-start, nowrap);
            
            li {
                margin-right: 20px;
                position: relative;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $black;
                    text-decoration: none;
                    position: relative;

                    span {
                        position: absolute;
                        width: 0;
                        float: left;
                        height: 2px;
                        background: $black;
                        bottom: -2px;
                        left: 50%;
                        right: 50%;
                        @include transition(all, .2s, ease);
                    }

                    &:hover span {
                        left: 0;
                        right: 0;
                        width: 100%;
                    }
                }
            }

            &.social li a:hover {
                color: $gray;
            }
        }
    }
}