/*=============================================== Projects ===============================================*/

.projects-page {
    .cover-projects {
        color: $white;

        &:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($black, 0.5);
            z-index: 1;
        }

        .content {
            @include flexbox(flex-start, center, nowrap);
            @include flex-direction(column);

            h4,
            h1 {
                margin-bottom: 50px;
            }

            p {
                max-width: 400px;
            }
        }
    }

    .wrap {
        @include grid(1fr 800px 1fr, 0, 0);

        @media(max-width: $breakpoint-mobile) {
            @include grid(5vw 1fr 5vw, 0, 0);
        }

        .container {
            @include grid-column(2);
            @include grid(1fr, 0, 100px);

            h4 {
                margin-bottom: 50px;
            }

            p strong {
                color: $red;
            }

            .grid {
                @include grid(1fr 1fr, 24px, 0);
                align-items: center;

                @media(max-width: $breakpoint-mobile) {
                    @include grid(1fr, 0, 50px);
                    justify-items: center;
                }
            }

            .img-shadow {
                @include shadow($shadow);
            }

            .center {
                margin-top: 50px;
            }

            .modal {
                position: relative;
                z-index: 9999;
                width: 100%;

                .modal-content {
                    position: fixed;
                    top: 50vh;
                    left: 50vw;
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    background-color: rgba($black, 0.8);
                    z-index: 999;
                    @include transition(all, 0.5s, ease);
                    @include flexbox(center, center, nowrap);

                    i {
                        position: absolute;
                        top: 50px;
                        right: 5vw;
                        @include font-size(20px);
                        color: $white;
                        opacity: 0;
                        @include transition(all, 0.5s, ease);
                        @include transition-delay(0.5s);
                        cursor: pointer;
                    }

                    img,
                    iframe {
                        $size: 80%;
                        width: $size;
                        height: $size;
                        object-fit: contain;
                        opacity: 0;
                        @include transition(all, 0.5s, ease);
                        @include transition-delay(0.5s);
                    }
                }

                &.modal-open .modal-content {
                    width: 100vw;
                    height: 100vh;
                    top: 0;
                    left: 0;

                    i, img, iframe {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
