/*=============================================== UI Components ===============================================*/

.btn-primary {
    background-color: $black;
    padding: 15px 30px;
    color: $white;
    text-decoration: none;
    text-transform: uppercase;
    @extend %titles-bold;
    z-index: 1;
    position: relative;
    outline: none;
    border: none;
    overflow: hidden;
    transition: color 0.4s ease-in-out;
    @include transition(color, 0.4s, ease-in-out);
    font-size: 16px;

    &::before {
        content: "";
        z-index: -1;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        background-color: $red;
        transform-origin: center;
        @include transform(translate3d(-50%, -50%, 0) scale3d(0, 0, 0));
        @include transition(transform, 0.45s, ease-in-out);
    }

    &:hover {
        cursor: pointer;

        &::before {
            transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
        }
    }
}

.btn-arrow {
    color: $gray;
    text-decoration: none;
    @include flexbox(center, center, nowrap);
    font-size: 20px;

    &:after {
        content: url(/assets/images/arrow.svg);
        padding-top: 6px;
        margin-left: 10px;
        @include transition(all, 0.3s, ease);
    }

    &:hover {
        &:after {
            @include transform(rotate(-45deg));
        }
    }
}
