@charset "UTF-8";
/* SCSS Document */

/*========================================================== Imports ==========================================================*/

@import "mixins";
@import "colors";
@import "fonts";
@import "helpers";

/*========================================================== General ==========================================================*/

*,
*:before,
*:after {
	@include box-sizing(border-box);
	outline: none;
}

html,
body {
	@extend %paMar;
	position: relative;
	overflow-x: hidden;
	width: 100%;
	line-height: 25px;
	color: $primary;
	@extend %oxygen-regular;
}

// img {
// 	width: 100%;
// 	float: left;
// }

hr {
	width: 100%;
	float: left;
	border: none {
		bottom: 1px solid $primary;
	};
}

/*========================================================== Components ==========================================================*/

@import "layout";
@import "header";
@import "footer";

/*========================================================== Pages ==========================================================*/

@import "home";
@import "projects";
@import "about";
@import "contact";
