@charset "UTF-8";
/* SCSS Document */

/*=============================================== Imports ===============================================*/
@import "mixins";
@import "colors";
@import "fonts";
@import "layouts";


/*=============================================== General ===============================================*/

* {
	@include box-sizing(border-box);
	outline: none;
}

html,
body {
	@extend %paMar;
	@extend %body;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
}

.stop-scrolling {
	height: 100vh;
	overflow: hidden;
}

/*=============================================== Components ===============================================*/

@import "ui-components";
@import "social";
@import "header";
@import "footer";

/*=============================================== Pages ===============================================*/

@import "home";
@import "projects";
@import "about";
@import "contact";