---
layout: default
---

<div class="cover cover-half">
     <div class="cover-bg" style="background: url(/assets/images/{{page.cover}})"></div>
     <div class="container-cover">
          <h1 class="reveal">{{page.title}}</h1>
     </div>
</div>

<main>
     <div class="col-1-2">
          <h3 class="reveal">Experience</h3>
          <div class="timeline">
               {% for experience in page.experiences %}
               <div class="timeline-item">
                    <p class="position reveal">{{experience.title}}</p>
                    <p class="company reveal">{{experience.company}}, {{experience.city}} | {{experience.date}}</p>
                    <p class="description reveal">{{experience.job_description}}</p>
                    {% if experience.skills %}
                    <p class="skills-experience reveal">Skills: {{experience.skills}}</p>
                    {% endif %}
               </div>
               {% endfor %}
          </div>
     </div>
     <div class="col-1-2">
          <h3 class="reveal">Education</h3>
          <div class="timeline reveal">
               {% for education in page.educations %}
               <div class="timeline-item reveal">
                    <p class="position reveal">{{education.date}}</p>
                    <p class="title reveal">{{education.title}}{% if education.school %} at {{education.school}}{% endif %}{% if education.city %}, {{education.city}}{% endif %}</p>
                    <p class="description reveal">{{education.description}}</p>
               </div>
               {% endfor %}
          </div>

          <h3 class="reveal">Skills</h3>
          <ul class="skills-list">
               {% for skill in page.skills %}
               <li class="reveal">{{skill.title}}</li>
               {% endfor %}
          </ul>

          <h3 class="reveal">Languages</h3>
          <ul class="skills-list">
               {% for language in page.languages %}
               <li class="reveal">{{language.title}}</li>
               {% endfor %}
          </ul>

          {% for item in site.data.social %}
          {% if item.name == "resume" %}
          <a href="/assets/images/{{ item.link }}" target="_blank" class="link-social reveal" id="link-resume">PDF Versio<span></span></a>
          {% endif %}
          {% endfor %}
     </div>
</main>