---
layout: default
---

<main>
	<div class="cover-about">
		<div class="picture-julia">
			<img src="{{image.picture}}" alt="" />
		</div>

		<div class="title">
			<h1>{{ site.title }}</h1>
			<p>{{ page.text_about }}</p>
		</div>
	</div>

	<div class="row">
		<div class="col-6-12">
			<h3>Education</h3>
			<ul class="list-education">
				{% for education in page.educations %}
				<li>
					<p class="date">{{ education.date }}</p>
					<p class="title">{{ education.title }}</p>
					<p class="school">{{ education.school }}, {{ education.city }}</p>
					<p class="description">{{ education.description }}</p>
				</li>
				{% endfor %}
			</ul>

			<div class="row">
				<div class="col-6-12">
					<h3>Languages</h3>
					<ul class="list-languages">
						{% for language in page.languages %}
						<li>{{ language.name }}: {{ language.level }}</li>
						{% endfor %}
					</ul>
                </div>
                
                <div class="col-6-12">
                    <h3>Skills</h3>
                    <ul class="list-skills">
                        {% for skill in page.skills %}
                        <li>{{skill.name}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            
            <a href="{{page.cv_link}}" class="cv_link">PDF Version<span></span></a>
        </div>
        
        <div class="col-6-12">
            <h3>Experience</h3>
            <ul class="list-experience">
                {% for experience in page.experiences %}
                <li>
                    <p class="title">{{experience.title}}</p>
                    <p class="subtitle">{% if company %}{{experience.company}}, {% endif %}{{experience.city}} | {{experience.date}}</p>
                    <p class="description">{{experience.description}}</p>
                    <p class="skills">Skills: {{experience.skills}}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
	</div>
</main>


