<!doctype html>
<html>
     <head>
          <!-- Global site tag (gtag.js) - Google Analytics -->
          <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169974266-1"></script>
          <script>
               window.dataLayer = window.dataLayer || [];
               function gtag(){dataLayer.push(arguments);}
               gtag('js', new Date());
               gtag('config', 'UA-169974266-1');
          </script>

          <meta charset="UTF-8">
          <title>{{ page.title }} | {{ site.title }}</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
          <meta name="description" content="{{ page.desc }}">
          <meta name="author" content="Julia Popko">
          <meta property="og:title" content="{{ page.title }}" />
          <meta property="og:type" content="designer_portfolio" />
          <meta property="og:url" content="http://julia-popko.github.io{{ page.url }}" />
          <meta property="og:image" content="/assets/images/{{site.cover_og}}" />
          <meta property="og:site_name" content="{{ site.title }}" />
          <meta property="og:locale" content="en_GB" />
          <link href="/assets/images/{{ site.favicon }}" rel="shortcut icon">

          <!-- CSS -->
          <link rel="stylesheet" href="/assets/css/style.css">

          <!-- Fonts -->
          <link rel="stylesheet" href="/assets/css/font-awesome-all.min.css">

          <!-- JS -->
          <script src="/assets/js/typed.js"></script>
          <script src="/assets/js/script-head.js"></script>
     </head>
     
     <body
          {% if page.layout == "projects" %}class="projects-page"{% endif %}
          {% if page.layout =="about" %}onload="loadPic()"{% endif %}
          {% if page.url == "/" %}id="home"{% endif %}
     >
          {% include header.html %}
          
          {{ content }}
          
          <script src="/assets/js/script.js"></script>
     </body>
</html>