<!doctype html>
<html>
     <head>
          <meta charset="UTF-8">
          <title>{{page.title}} | Julia Popko</title>
          <meta content="IE=edge" http-equiv="X-UA-Compatible">
          <meta content="width=device-width, initial-scale=1" name="viewport">
          <meta name="description" content="{{page.desc}}">
          <meta name="author" content="Julia Popko">
          <meta property="og:title" content="{{page.title}} | Julia Popko" />
          <meta property="og:type" content="designer_portfolio" />
          <meta property="og:url" content="{{site.url}}{{page.url}}" />
          <meta property="og:image" content="/assets/images/cover_og.png" />
          <meta property="og:site_name" content="Julia Popko Portfolio" />
          <meta property="og:locale" content="en_GB" />
          <link href="images/favicon.png" rel="shortcut icon">

          <!-- CSS -->
          <link rel="stylesheet" href="/assets/css/style.css">
          <link rel="stylesheet" href="/assets/css/font-awesome-all.min.css">
          
          <!-- JS -->
          <script src="/assets/js/typed.min.js"></script>
		<script src="/assets/js/js-head.js"></script>
     </head>

     <body>
         {% include header.html %}
         {{content}}
         {% include footer.html %}
     </body>
</html>