---
layout: default
---

<div class="cover cover-full">
     <div class="cover-bg" style="background: url(/assets/images/{{page.cover}})"></div>
     <div class="container-cover">
          <div class="title">
               <h1>Julia Popko</h1>
               <div class="type-wrap">
                    <div id="typed-strings">
                         {% for typed in page.typeds %}
                         <h2>{{ typed.title }}</h2>
                         {% endfor %}
                    </div>
                    <span id="typed" style="white-space:pre;"></span>
               </div>
          </div>
     </div>
</div>

<section id="hello">
     <div class="col-1-2 col-hello reveal">
          {{content}}
     </div>

     <div class="col-1-2 col-bg reveal" style="background: url(/assets/images/{{page.cover_hello}})"></div>
</section>

<section id="projects-list">
     <ul>
          {% assign projects = site.projects | sort: "order" %}
          {% for project in projects %}
          <li style="background: url(/assets/images/{{project.cover}})" class="reveal">
               <a href="{{project.url}}">
                    {{project.title}}
               </a>
          </li>
          {% endfor %}
     </ul>
</section>