---
layout: default
---

<div class="cover-home">
	<div class="title">
		<img src="/assets/images/logo.svg" alt="{{ page.logo_alt }}" class="reveal" />
		<h1 class="reveal">{{ site.title }}</h1>
		<div class="type-wrap">
			<div id="typed-strings">
				{% for typed in page.typeds %}
				<h2>{{ typed.title }}</h2>
				{% endfor %}
			</div>
			<span id="typed" style="white-space:pre;" class="reveal"></span>
		</div>
    </div>
    
    <div class="intro">
        {{ page.intro | markdownify }}
        <img src="/assets/images/logo.svg" alt="Arrow down" class="arrow-logo reveal">
    </div>
</div>

<ul class="list-projects">
    {% assign projects = site.projects | sort: "order" %}
    {% for project in projects %}
    <li style="background: url({{project.cover}})" class="reveal">
        <a href="{{project.url}}">
            <div class="purple-bg"></div>
            <p>{{project.title}}</p>
        </a>
    </li>
    {% endfor %}
</ul>