---
layout: default
---

<div class="cover-project reveal">
	<div class="container-cover">
		<h1>{{ page.title }}</h1>
		<div class="type-wrap">
			<div id="typed-strings">
				{% for typed in page.typeds %}
				<h2>{{ typed }}</h2>
				{% endfor %}
			</div>
			<span id="typed" style="white-space:pre;"></span>
		</div>
	</div>
</div>

{{content}}

<div class="button-next-project reveal">
	<a href="{{ page.next_project }}.html">Next project<span></span></a>
	<img src="/assets/images/logo.svg" alt="Logo Julia Popko">
</div>