---
layout: default
---

<div class="cover-project">
	<div class="container-cover">
		<h1>{{ page.title }}</h1>
		<div class="type-wrap">
			<div id="typed-strings">
				{% for typed in page.typeds %}
				<h2>{{ typed }}</h2>
				{% endfor %}
			</div>
			<span id="typed" style="white-space:pre;"></span>
		</div>
	</div>
</div>

{{ content }}

{% if page.link_to_medium %}
<p class="link-full-project">
	<a href="{{ page.link_to_medium }}" target="_blank">See the full project on Medium<span></span></a>
</p>
{% endif %} {% if page.link_to_behance %}
<p class="link-full-project">
	<a href="{{ page.link_to_behance }}" class="link-full-project" target="_blank">See the full project on Behance<span></span></a>
</p>
{% endif %}

<div class="button-next-project">
	<a href="{{ page.next_project }}.html">Next project<span></span></a>
	<img src="/assets/images/logo.svg" alt="Logo Julia Popko" />
</div>
